.container {
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 28px;
  padding: 20px 25px;
}

img {
  width: 100%;
}

.main {
  background-color: #EEEEEE;

}

.answers {
  font-size: 22px;
  font-weight: lighter;
  list-style: none;
  text-align: center;
  color: #4E4E4E;
}

footer {
  background-color: #4B484E;
  color: #A2A0A3;
  padding: 45px;
  text-align: center;
  font-size: 14px;
}
