.container {
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 28px;
  padding: 20px 25px;
}

img {
  width: 1090px;
}

.main {
  background-color: #EEEEEE;
  text-align: center;
  padding: 20px 150px;
}

.answers h2{
  border-bottom:1px solid #EAE9EA;
  font-size: 28px;
  font-weight: lighter;
  list-style: none;
  text-align: center;
  color: #4E4E4E;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 30px;
}

.answer {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: left;
  font-size: 20px;
  color:#656d78;
}
ul {
  list-style: none;
}

footer {
  background-color: #4B484E;
  color: #A2A0A3;
  padding: 45px;
  text-align: center;
  font-size: 14px;
}
